.admin-page{
  flex: 1 1 auto;
  display: flex;
  background-image: url("../../assets/images/back-admin.jpg");
  justify-content: space-around;
  font-size: 20px;




}
.admin-page__add_item{
  width: 40%;
  margin: 5px 0px;
  background: rgba(213, 209, 217, 0.36);
  border-radius: 20px;
  border: solid 4px rgba(118,114,122,0.64);
  color: #0a0a0e;
  font-weight: bold;
  font-style: italic;
}
.btn_submit, .btn_delete{
  color: #392f2f;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  background-color: #22ff4a;
  font-weight: bold;}
  .btn_submit:hover,.btn_delete:hover {
    color: white;
    background-color: #4d8fff;
  }


.admin-page__remove_item{
  width: 40%;
  height: 30%;
  background: rgba(213, 209, 217, 0.36);
  border-radius: 20px;
  border: solid 4px rgba(118,114,122,0.64);
  color: #0a0a0e;
  font-weight: bold;
  font-style: italic;
  margin: 5px 0;

}
@media(max-height: 480px) {
  .admin-page{
    font-size: 13px;
    flex-direction: column;

  }
  .btn_submit, .btn_delete{
    width: 50px;
    height: 20px;
  }
  .admin-page__remove_item{

    background: none;
    border: none;
    p{
      background: #5acad8;
      border-radius: 20px;
    }
  }
  .admin-page__add_item{

    background: none;
    border: none;
    p{
      background: #5acad8;
      border-radius: 20px;

    }
  }

}
@media(min-height:481px) and (max-height: 767px) {
  .admin-page{
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn_submit, .btn_delete{
    width: 90px;
    height: 30px;
  }
  .admin-page__remove_item{
    margin: 0 auto;

    background: none;
    border: none;
    p{
      background: #5acad8;
      border-radius: 20px;
    }
  }
  .admin-page__add_item{
    margin: 0 auto;

    background: none;
    border: none;
    p{
      background: #5acad8;
      border-radius: 20px;
    }
  }
}
@media(min-height: 767px) and (max-height: 1023px) {
  .admin-page{
    font-size: 20px;
  }
}