
.v-nav-bar{
  display: flex;
  background-color: #5acad8;
  flex-wrap: nowrap;
  align-content: center;




}

.btn_link{


  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: left;
  border-radius: 2px;
  transition-duration: 0.06s;

}
.btn_link:hover{
  color: #0a0a0e;
  background-color: #90f6dd;
}
.btn_link:active{
  background-color: white;


}
.link_to_cart_admin{
  text-decoration: none;
  color:white;

}
.link_to_cart_directory{


}