.v-page-info-main{
  height: 610px;
  background: #9fa9ff;
  text-indent: 30px;
}
.v-page-info{
  display: table ;


  &__block{
    display: table-cell;
    vertical-align:top;
     text-align: justify;

  }
  &__text{
    text-align: start;
    width: 70%;
  }
  &__img{
    margin-top: 10px;
height: 550px;
    margin-left: 10px;
  }
  &__text_2{
  margin-left: 250px;
    text-align: start;
    width: 70%;
    font-size: 20px;
  }


}