.v-page-info-main{
  min-height: 610px;
  background: url("../images/back-direct.jpg");
  text-indent: 30px;
}
.v-page-info{
  display: table ;
  margin-right: 20px;
  margin-bottom: 10px;


  &__block{
    display: table-cell;
    vertical-align:top;
     text-align: center;



  }
  &__text{
    padding: 5px;
    background-color: bisque;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 6001;
    text-align: start;




  }
  &__img{
    margin-top: 10px;
height: 550px;

    border-radius: 10px ;

  }
  &__text_2{
  margin-left: 250px;
    text-align: start;
    width: 70%;
    font-size: 20px;
    padding: 5px;
    background-color: bisque;
    border-radius: 40px;

  }


}